h1{
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
.section{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #888888;
}
p{
 font-family: sans-serif;
 font-size: 1.2rem;
}
.cc{
    box-shadow: 0px 0px 10px 0px #888888;
}