#container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(180, 216, 121);
   

}
.box{
    width: 15px;
    height: 15px;
    background:black;
  position: absolute;
    border-radius: 100%;
}